{% include 'admin_header.html'%}
{% load static %}

  <body>



	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="#">ONLINE LAWYER BOOKING SYSTEM</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">

	         <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="{% url 'admin_home' %}" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="{% url 'admin_view_client' %}" class="nav-link">Clients</a></li>
	          <li class="nav-item"><a href="{% url 'admin_view_lawyer' %}" class="nav-link">Lawyers</a></li>
<!--                <li class="nav-item"><a href="{% url 'admin_add_notification' %}" class="nav-link">Add Notifications</a></li>-->
<!--                  <li class="nav-item"><a href="{% url 'admin_view_notification' %}" class="nav-link">View Notifications</a></li>-->
<!--				<li class="nav-item"><a href="{% url 'admin_change_password' %}" class="nav-link">Change Password</a></li>-->
<!--	          <li class="nav-item"><a href="{% url 'admin_logout' %}" class="nav-link">Logout</a></li>-->
				 <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Notifications
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                             <a class="dropdown-item" href="{% url 'admin_add_notification' %}">Add Notifications</a>
                              <a class="dropdown-item" href="{% url 'admin_view_notification' %}">View Notifications</a>
                           </div>
                        </li>
				<li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Account
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                             <a class="dropdown-item" href="{% url 'admin_change_password' %}">Change Password</a>
                              <a class="dropdown-item" href="{% url 'admin_logout' %}">Logout</a>
                           </div>
                        </li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
<!--          	<p class="breadcrumbs mb-0"><span class="mr-2"><a>Home <i class="fa fa-chevron-right"></i></a></span>Add Notifications<span><i class="fa fa-chevron-right"></i></span></p>-->
            <h1 class="mb-0 bread">Add Notifications</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper px-md-4">
							<div class="row mb-5">
								<div class="col-md-3">

				        		<div class="text">
<!--					            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>-->

					          </div>
				          </div>
								</div>
								<div class="col-md-3">
									<div class="dbox w-100 text-center">

				          </div>
								</div>
<!--								<div class="col-md-3">-->
<!--									<div class="dbox w-100 text-center">-->
<!--				        		<div class="icon d-flex align-items-center justify-content-center">-->
<!--				        			<span class="fa fa-paper-plane"></span>-->
<!--				        		</div>-->
<!--				        		<div class="text">-->
<!--					            <p><span>Email:</span> <a href="{% static 'mailto:info@yoursite.com'%}">info@lawfirm</a></p>-->
<!--					          </div>-->
<!--				          </div>-->
<!--								</div>-->
<!--								<div class="col-md-3">-->
<!--									<div class="dbox w-100 text-center">-->
<!--				        		<div class="icon d-flex align-items-center justify-content-center">-->
<!--				        			<span class="fa fa-globe"></span>-->
<!--				        		</div>-->
<!--				        		<div class="text">-->
<!--					            <p><span>Website</span> <a>www.lawfirm.com</a></p>-->
<!--					          </div>-->
<!--				          </div>-->
<!--								</div>-->
<!--							</div>-->
							<div class="row no-gutters">
								<div class="col-md-7">
									<div class="contact-wrap w-100 p-md-5 p-4">
										<h3 class="mb-4">Add Notification</h3>
										<form method="POST" action="{% url 'admin_add_notification' %}">
											<div class="row">
												<div class="col-md-10">
													{% csrf_token %}
													<div class="form-group">
														<label class="label">Title</label>
														<input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
													</div>
												</div>
												<br>
												<div class="col-md-10">
													<div class="form-group">
														<label class="label" for="description">Description</label>
														<textarea name="description" class="form-control" id="description" cols="30" rows="4" placeholder="Description" required></textarea>
													</div></div>
												<div class="col-md-7">
													<div class="form-group">
														<input type="submit" value="Post" class="btn btn-primary">
														<div class="submitting"></div>
														{{msg}}
													</div></div>
												</div>
											</div>
										</form>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    {% include 'footer.html' %}
  </body>
</html>